.pending-homepage {
  margin: 20px 0;
  padding: 20px;
  background-color: #eff4fc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.homepage-block {
  background-color: #73537c;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  margin: 15px 42px;
  padding: 15px;
}

.pending-details {
  font-weight: 900;
}
